/* default global presets */

/* main presets */
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

/* clear button default styling */
button {
    border: none;
    background-color: rgba(0, 0, 0, 0.0);
    padding: 0px;
    margin: 0px;
    cursor: pointer;
}
/* transition speed variable */
:root {
    --transition-speed: 500ms;
}
/* clickable */
.clickable{
  cursor: pointer;
  transition: 100ms;
}
.clickable:hover{
  transition: 100ms;
  filter: brightness(0.8);
  scale: 110%;
}

/* =========================================================== */

/* Website */

body {
    background-image: url('../images/vecteezy_serene-mountain-lake-at-night_54358444.jpg');
    display: flex;
    flex-direction: column;
    align-items: center;

    background-color: #333333;
    background-size: cover;
    background-attachment: fixed;
}
/* header */
header {
    font-family: 'Jacques Francois Shadow';
    font-weight: 400;
    z-index: 2;
    display: flex;
    align-items: center;
    box-shadow: 1px 1px 0.5em black;
    background-color: #8b0000;
    width: 100%;
}
h1 {
    margin: 2% 1%;
}
br {
    display: block;
    content: "";
    margin-bottom: 10px; /* Adjust as needed */
}

/* info menu */
.info-document-select-box {
    position: fixed;
    z-index: 1;

    display: flex;
    align-items: center;
    justify-content: center;
    /* position/shape */
    padding: 1%;
    padding-top: 2%;
    width: fit-content;
    position: absolute;
    top: 50px;
    /* transition */
    transition: ease-in-out var(--transition-speed);
    /* style */
    background-color: #8b0000;
    box-shadow: 1px 1px 0.5em black;
    /* temp */
    height: fit-content;
    
}
.info-document-select-box:hover, .info-document-select-box:focus-within {
    transition: ease-in-out var(--transition-speed);
    top: 100px;
}
.info-document-select-box--item {
    margin: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.active-info-document .selector-underline {
    width: 80%;
    height: 3px;
    border-radius: 3px;
    padding: 1%;
    background-color: black;
}


/* =========================================================== */

/* main website */

.main-website {
    display: flex;
    width: 100%;
    margin-top: 50px;

    min-height: 1500px;
}

.main-website--section {
    flex: 1;
    height: fit-content;
    display: flex;
    justify-content: center;

    min-height: 300px;
}
.website-side-content {
    margin: 10%;
    width: 70%;
}
.book-cover {
    box-shadow: 0 0 1em black;
}
.info-document-section {
    flex: 1.5;
    flex-direction: column;
    position: relative;
    perspective: 1000px;
    perspective-origin: 50% 200px;
}
.info-document {
    margin: 10%;
    padding: 5%;
    background-color: blanchedalmond;
    box-shadow: 0 0 1em black;
    width: 80%;
    top: 0px;
    position: absolute;
    transform: rotateY(-90deg);

    min-height: 500px;
}
.info-document.unactive-info-document {
    animation: middleToLeft var(--transition-speed) linear;
    animation-fill-mode: forwards;
    pointer-events: none;
}
.info-document.active-info-document {
    animation: rightToMiddle var(--transition-speed) linear var(--transition-speed);
    animation-fill-mode: forwards;
    pointer-events: all;
}
.info-document img {
    width: 100%;
}

@keyframes rightToMiddle {
    0% {
        transform: rotateY(90deg);
    }
    100% {
        transform: rotateY(0deg);
    }
}

@keyframes middleToLeft {
    0% {
        transform: rotateY(0deg);
    }
    100% {
        transform: rotateY(-90deg);
    }
}

.about-the-book-section {

    box-shadow: 0 0 1em black;
    background-color: rgb(100, 100, 100);
}
.about-the-book--title {
    width: 100%;
    background-color: #111111;
    color: white;
    padding: 5%;
}
.about-the-book--content {
    margin: 5%;
}
.book-info-piece {
    display: flex;
    flex-direction: row;
    margin-bottom: 5%;
    h3 {
        width: 50%;
        
    }
}

/* =========================================================== */

/* footer */

footer {
    background-color: rgba(0, 0, 0, 0.7);
    width: 100%;
    
    min-height: 300px;
    h2 {
        color: white;
    }
    h3 {
        color: white;
    }
}